<div id="splash">
  <img alt="HiTSeq 2025" src="images/hitseq_banner.jpg" width="960" />
</div>
<div id="menu">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="news.html">News</a></li>
          <li><a href="schedule.html">Schedule</a></li>
          <li><a href="submissions.html">Submissions</a></li>
          <li><a href="proceedings.html">Proceedings</a></li>
          <li><a href="registration.html">Registration</a></li>
          <li><a href="committee.html">Committees</a></li>
          <li><a href="sponsorship.html">Sponsorship</a></li>
          <li class="last"><a href="contact.html">Community</a></li>
        </ul>
      </div>
