<div id="sidebar">
          <div class="box">
            <h3>Key Dates - Deadlines</h3>
            <ul class="list">
              <li class="last">Proceedings submission deadline: January 25, 2024</li>
              <li class="last">Call for abstracts opens: January 26, 2024</li>
              <li class="last">Conditional acceptance notification for
                proceedings: March 7, 2024</li>
              <li class="last">Revised proceedings papers: March 18, 2024</li>
              <li class="last">Final acceptance notification for proceedings
                papers: April 2, 2024</li>
              <li class="last">Abstract submission deadline: April 19, 2024</a></li>
              <li class="last">Late poster submissions open: April 22, 2024</li>
              <li class="last">Talk and/or poster acceptance notifications: May
                13, 2024</li>
              <li class="last">Late poster submission deadline: May 20, 2024</li>
              <li class="last">Late posters acceptance notification: May 28, 2024</li>
              <li class="last">Presenters wishing to become part of the conference library as a stand alone talk must upload pre-recorded talk to the virtual platform: July 2,
                2024</li>                
              <li class="last">Meeting program: July 13-14, 2024</li>
              <li class="last"><br />
              </li>
              <p> </p>
            </ul>
            <h3>Keynote Speakers</h3>
            <ul>
              <li>Evan E. Eichler, University of Washington, USA</li>
              <li>Sushmita Roy, University of Wisconsin, USA </li>
              <li>Kin Fai Au, University of Michigan, USA </li>
            </ul>
            <p></p>
            </ul>
            <p></p>
          </div>
          <div class="box">
            <h3>Sponsors</h3>
	    <!--
            HiTSeq is seeking the generous support of sponsors to ensure the
            success of the conference. Please inquire on the sponsor package.
              -->
	    <img src="images/logo-pacbio.svg" width="200px">
	  </div>
        <div><br />
        </div>
        <div><br />
        </div>
        <div><br />
        </div>
        <div><br />
        </div>
        <div><br />
        </div>
        <div><br />
        </div>
        <div><br />
        </div>
        <div><br />
        </div>
        <div><br />
        </div>
        <div><br />
        </div>
        <div><br />
        </div>
        <div><br />
        </div>
        <div><br />
        </div>
        <div><br />
        </div>
        <div><br />
        </div>
        <div><br />
        </div>
        <div><br />
        </div>
        <div><br />
        </div>
        <div><br />
        </div>
        <div><br />
        </div>
        </div><!-- sidebar-->
        <br class="clearfix" />
