<div id="sidebar">
  <div class="box">
    <h3>Key Dates - Deadlines</h3>
    <ul class="list">
      <li class="last">Call for proceedings opens: December 5, 2024</li>
      <li class="last">Proceedings submission deadline: <b>January 23, 2025</b></li>
      <li class="last">Call for abstracts opens: January 20, 2025</li>
      <li class="last">Conditional acceptance notification for
        proceedings: March 13, 2025</li>
      <li class="last">Revised proceedings papers: March 27, 2025</li>
      <li class="last">Final acceptance notification for proceedings
        papers: April 8, 2025</li>
      <li class="last">Abstract submission deadline: <b>April 17, 2025</b></li>
      <li class="last">Late poster submissions open: April 21, 2025</li>
      <li class="last">Talk and/or poster acceptance notifications: May 13, 2025</li>
      <li class="last">Late poster submission deadline: <b>May 15, 2025</b></li>
      <li class="last">Late posters acceptance notification: May 22, 2025</li>
      <li class="last">Presenter registration deeadline: June 13, 2025</li>
      <li class="last">Last day to upload files to the virtual platform: July 11, 2025</li>   
      <!-- <li class="last">Meeting program: July 20-24, 2025</li>-->
      <li class="last">ISMB/ECCB conference: <b>July 20-24, 2025, Liverpool, UK</b></li>
      <li class="last"><br /></li>
   </ul>
   <!-- <h3>Keynote Speakers</h3>
   <ul>
     <li>Evan E. Eichler, University of Washington, USA</li>
     <li>Sushmita Roy, University of Wisconsin, USA </li>
     <li>Kin Fai Au, University of Michigan, USA </li>
   </ul>
   -->
   </div>
  <div class="box">
  <h3>Sponsors</h3>
      <p>
      HiTSeq is seeking the generous support of sponsors to ensure the
      success of the conference. Please inquire on the sponsor package.
      <p>
  <!-- 
  <img src="images/logo-pacbio.svg" width="200px">
  -->
  </div>
  <div><br />
  </div>
  <div><br />
  </div>
  <div><br />
  </div>
  <div><br />
  </div>
  <div><br />
  </div>
  <div><br />
  </div>
  <div><br />
  </div>
  <div><br />
  </div>
  <div><br />
  </div>
  <div><br />
  </div>
  <div><br />
  </div>
  <div><br />
  </div>
  <div><br />
  </div>
  <div><br />
  </div>
  <div><br />
  </div>
  <div><br />
  </div>
  <div><br />
  </div>
  <div><br />
  </div>
  <div><br />
  </div>
  <div><br />
  </div>
</div><!-- sidebar-->

<br class="clearfix" />
